<h2 class="selected">ProgateのLEVEL</h2>
  <ul>
      <li>LEVEL320(3年程地道に学習しています)
      <br>Java, Ruby, Ruby on rails, HTML & CSS, jQuery, SQL, PHP, JavaScriptを学習
      <br>→上記に関連してVBAやCも学習</li>
  </ul>

<h2 class="selected">IT関連で読み終えた本</h2>
  <ul>
    <li>かんたん合格ITパスポート教科書 2019年度(著者：坂下夕里&ラーニング編集部)</li>
    <li>キタミ式イラストIT塾 ITパスポート 平成30年度(著者：きたみりゅうじ)</li>
    <li>コンピュータ、どうやってつくったんですか？(著者：川添愛)</li>
    <li>コンピュータはなぜ動くのか(著者：矢沢久雄)</li>
    <li>エクセルVBAのプログラミングをはじめからじっくりと。(著者：沢内晴彦)</li>
    <li>スッキリわかるSQL入門(著者：中山清喬/飯田理恵子)</li>
  </ul>
