<h2>10月26日(土曜)</h2>
<p>デニーズにてHP製作中</p>
<p>本日午前にテト1をとる</p>
<p>これで3回目!!</p>

<h2>10月27日(日曜)</h2>
<p>雨振らないでほしい</p>
<p>お、少し晴れているじゃないか　AM1027</p>

<h2>10月28日(月曜)</h2>
<p>バッチ、名刺をもらって嬉しかった</p>

<h2>10月29日(火曜)</h2>
<p>良いサイトを発見</p>
<a href="https://www.recommos.jp">リコモス(障害者雇用)</a>
<br>
<a href="https://www.udemy.com/ja/">udemy(画期的な学習)</a>
<br>
<br>

<h2>11月2日(土曜)</h2>
<p>川本真琴チケット3枚とれたねこれは</p>

<h2>11月3日(日曜)</h2>
<p>近所のスーパーで鶏むね肉100g39円だったので2kくらい買いました。</p>

<h2>11月10日(日曜)</h2>
<p>オフハウスに服を20着ほど持って買取を依頼。60円だった。</p>

<a href="/">sstについて</a>

<!--$git add -A
$git commit -m "Update application"
$git push heroku master-->
