<h2 class="selected">自己紹介</h2>
<p>はじめましてnanado2buです。</p>
<p>ホームページをご覧いただきありがとうございます。</p>
<p>私は事務作業やIT関連業務の経験があります。</p>
<p>将来的にもそういった事務のお仕事やIT関連の業務をやりたいと思っています。</p>
<p>作業の正確性や高いPCスキルが強みです。</p>
<p>よろしくおねがいします!</p>

<p>2021.11.03 git remoteの仕組みがわかった!</p>
<p>2021.11.03 git init もう一度やりたいので、.gitは隠しファイル</p>

<!--<h2 class="selected">ProgateのLEVEL</h2>
  <ul>
      <li>LEVEL320(3年程地道に学習しています)
      <br>Java, Ruby, Ruby on rails, HTML & CSS, jQuery, SQL, PHP, JavaScriptを学習
      <br>→上記に関連してVBAやCも学習</li>
  </ul>

<h2 class="selected">IT関連で読み終えた本</h2>
  <ul>
    <li>かんたん合格ITパスポート教科書 2019年度(著者：坂下夕里&ラーニング編集部)</li>
    <li>キタミ式イラストIT塾 ITパスポート 平成30年度(著者：きたみりゅうじ)</li>
    <li>コンピュータ、どうやってつくったんですか？(著者：川添愛)</li>
    <li>コンピュータはなぜ動くのか(著者：矢沢久雄)</li>
    <li>エクセルVBAのプログラミングをはじめからじっくりと。(著者：沢内晴彦)</li>
    <li>スッキリわかるSQL入門(著者：中山清喬/飯田理恵子)</li>
  </ul>-->




<!-- <a href="/diary">記録</a>
<br>
<a href="/tanoshimi">楽</a> -->
