<input type="button" value="クリックで良いことあるよ" class="good"
onclick="i=0; msg='パソコン、スマホがウィルスに感染したよ。。残念だったな。まあ嘘だけどさ。'; timerID=setInterval('if(i<=msg.length){document.all.div1.innerText=msg.substring(0,i); i++;}if(i>msg.length){clearInterval(timerID);}',100);">

<div id=div1></div>

<a href="/">sstについて</a>
